@{
    ViewBag.Title = "elTandero";
}

<!--<div id='top'>
    Locales:
    <select id='locale-selector'></select>
</div>-->

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Campaña</h4>
            </div>
            <div class="modal-body" style="max-height: 480px; overflow-y: auto; margin-right: 10px;">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label control-label-sm col-sm-4">Categoria</label>
                        <div class="col-sm-8">
                            <select id="ddwCategoria" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Categoría" class="form-control form-control-sm" placeholder="Nombre categoría">
                                <option value="0">Universidades</option>
                                <option value="1">Telefónicas</option>
                                <option value="2">Restaurantes</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-sm col-sm-4">Tipo:</label>
                        <div class="col-sm-8">
                            <select id="ddwTipo" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tipo" class="form-control form-control-sm" placeholder="Tipo">
                                <option value="0">Efectivo</option>
                                <option value="1">Auspiciado</option>
                                <option value="2">Intercambio</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-sm col-sm-4">Nombre o empresa</label>
                        <div class="col-sm-8">
                            <input id="txtEmpresa" type="text" data-toggle="tooltip" data-placement="top" title="" data-original-title="Nombre o empresa" class="form-control form-control-sm" maxlength="50" placeholder="Nombre o empresa"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-sm col-sm-4">Campaña</label>
                        <div class="col-sm-8">
                            <input id="txtCampaña" type="text" data-toggle="tooltip" data-placement="top" title="" data-original-title="Campaña" class="form-control form-control-sm" maxlength="50" placeholder="Nombre campaña"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-sm col-sm-4">Duración</label>
                        <div class="col-sm-8">
                            <input id="txtDuracion" type="text" data-toggle="tooltip" data-placement="top" title="" data-original-title="Duración" class="form-control form-control-sm" maxlength="50" placeholder="Duración"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-sm col-sm-4">Voz</label>
                        <div class="col-sm-8">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 1px;">
                                <label class="control-radio">
                                    <input name="grupoTipoPernocte" value="1" type="radio" checked="checked"> Masculino
                                </label>
                                <label class="control-radio">
                                    <input name="grupoTipoPernocte" value="2" type="radio"> Femenino
                                </label>
                                <label class="control-radio">
                                    <input name="grupoTipoPernocte" value="3" type="radio"> Single
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-sm col-sm-4">Inicia</label>
                        <div class="col-sm-8">
                            <input id="dpkInicio" type="text" data-toggle="tooltip" data-placement="top" title="" data-original-title="Fecha inicio del evento" class="form-control form-control-sm ctrl-calendar red-tooltip" maxlength="50" placeholder="Fecha inicio"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-sm col-sm-4">Termina</label>
                        <div class="col-sm-8">
                            <input id="dpkFin" type="text" data-toggle="tooltip" data-placement="top" title="" data-original-title="Fecha fin del evento" class="form-control form-control-sm ctrl-calendar red-tooltip" maxlength="50" placeholder="Fecha fin"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-sm col-sm-4">Días</label>
                        <div class="col-sm-8">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 1px;">
                                <label class="control-radio">
                                    <input name="grupoTipoPernocte" value="1" type="checkbox" checked="checked"> Lu
                                </label>
                                <label class="control-radio">
                                    <input name="grupoTipoPernocte" value="2" type="checkbox"> Ma
                                </label>
                                <label class="control-radio">
                                    <input name="grupoTipoPernocte" value="3" type="checkbox"> Mi
                                </label>
                                <label class="control-radio">
                                    <input name="grupoTipoPernocte" value="4" type="checkbox"> Ju
                                </label>
                                <label class="control-radio">
                                    <input name="grupoTipoPernocte" value="5" type="checkbox"> Vi
                                </label>
                                <label class="control-radio">
                                    <input name="grupoTipoPernocte" value="4" type="checkbox"> Sa
                                </label>
                                <label class="control-radio">
                                    <input name="grupoTipoPernocte" value="5" type="checkbox"> Do
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-sm col-sm-4">Color</label>
                        <div class="btn-group" style="padding-left: 15px;">
                            <button type="button" class="btn btn-default dropdown-toggle" id="colorpicker" data-toggle="dropdown" style="padding-left: 19px;">
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu colorschemebox" role="menu">
                                <button type="button" class="btn btn-default colorscheme" id="pal1" name="#FFF"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal2" name="#F2f2f2"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal3" name="#DDD9C3"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal4" name="#BFBFBF"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal5" name="#595959"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal6" name="#95bcd7"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal7" name="#31859b"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal8" name="#244061"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal9" name="#9bbb59"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal10" name="#009999"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal11" name="#00ccff"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal12" name="#cc99ff"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal13" name="#660066"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal14" name="#ff5050"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal15" name="#993300"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal16" name="#ffcc66"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal17" name="#999966"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal18" name="#244061"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal19" name="#336600"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal20" name="#669900"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal21" name="#000000"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal22" name="#003366"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal23" name="#666699"></button>
                                <button type="button" class="btn btn-default colorscheme" id="pal24" name="#99ff66"></button>
                                <hr class="divider"/>
                                <button id="btnDefault" type="button" class="btn btn-default btn-sm">Hacer por defecto</button>
                            </div>
                        </div>
                        <span id="spnMuestra" class="label label-default">Muestra</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-sm col-sm-4">Alerta de vencimiento</label>
                        <div class="col-sm-8">
                            <select id="ddwAlerta" data-toggle="tooltip" data-placement="top" title="" data-original-title="Alerta de vencimiento" class="form-control form-control-sm">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-sm col-sm-4">Horarios</label>
                        <div class="col-sm-7">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-right: 0px; padding-left: 0px;">
                                <select id="distriList" name="distriList" multiple="multiple" style="width: 100%">
                                    <option value="06:15">06:15</option>
                                    <option value="06:45">06:45</option>
                                    <option value="07:15">07:15</option>
                                    <option value="07:45">07:45</option>
                                    <option value="08:15">08:15</option>
                                    <option value="08:45">08:45</option>
                                    <option value="09:15">09:15</option>
                                    <option value="09:45">09:45</option>
                                    <option value="10:15">10:15</option>
                                    <option value="10:45">10:45</option>
                                    <option value="11:15">11:15</option>
                                    <option value="11:45">11:45</option>
                                    <option value="12:15">12:15</option>
                                    <option value="12:45">12:45</option>
                                    <option value="13:15">13:15</option>
                                    <option value="13:45">13:45</option>
                                    <option value="14:15">14:15</option>
                                    <option value="14:45">14:45</option>
                                    <option value="15:15">15:15</option>
                                    <option value="15:45">15:45</option>
                                    <option value="16:15">16:15</option>
                                    <option value="16:45">16:45</option>
                                    <option value="17:15">17:15</option>
                                    <option value="17:45">17:45</option>
                                    <option value="18:15">18:15</option>
                                    <option value="18:45">18:45</option>
                                    <option value="19:15">19:15</option>
                                    <option value="19:45">19:45</option>
                                    <option value="20:15">20:15</option>
                                    <option value="20:45">20:45</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <a href="javascript:void(0);" id="addPop" class="button">></a>
                                <a href="javascript:void(0);" id="removePop" class="button"><</a>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-right: 0px; padding-left: 0px;">
                                <select id="selectDistriList" name="selectDistriList" multiple="multiple" style="width: 100%"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-sm col-sm-4">Encabezado de tanda:</label>
                        <div class="col-sm-8">
                            <select id="ddwEncabeadoTanda" data-toggle="tooltip" data-placement="top" title="" data-original-title="Encabezado de tanda" class="form-control form-control-sm" placeholder="Tipo">
                                <option value="0">SI</option>
                                <option value="1">NO</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnNuevoEvento" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Imprimir</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
        </ul>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div id='calendar'></div>
        </div>
    </div>
</div>
